*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
}

p, label{
    font-family: "Open Sans", sans-serif;
}


@keyframes slideTopIn{
    to{
        top: 15%;
    }
}

@keyframes fadeOut{
    to{
        opacity: 0;
    }
}

@keyframes lineDown{
    0%{
        transform: scale(1,0);
        transform-origin: top center;
    }
    25%{
        transform: scale(1,1);
    }
}

@keyframes arrowDown{
    0%{
        bottom: 25px;
    }
    30%{
        bottom: 15px;
        opacity: 1;
    }
    70%{
        bottom: 10px;
        opacity: 1;
    }
    100%{
        bottom: 5px;
        opacity: 1;
    }
}


@keyframes scale{
    100%{
        transform: scale(1);
        transform-origin: center;
    }
}


@keyframes fadeFromLeft{
    to{
        left: 0;
        opacity: 1;
    }
}


@media screen and (min-width: 320px){
    
    .jl-page-wrapper, .jl-preloader{
        width: 100%;
        height: 100vh;
        display: table;
        background-color: #1C1C1C;
        border: 30px solid #000;
    }

    .jl-preloader{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        z-index: 1000;
        position: fixed;
        top:0;
        left: 0;
    }

    .jl-preloader-inner{
        margin-top: -45px;
        margin-right: -100px;
    }

    .jl-preloader-inner p{
        margin: 0 auto;
    }

    .jl-overlay{
        width: 100%;
        height: 100vh;
        display: none;
        position: fixed;
        z-index: 1000;
        top:0;
        left: 0;
        background-color: rgb(44, 201, 104, 0.95)
    }

    .jl-modal{
        width: 800px;
        display: none;
        padding: 30px;
        border-radius: 0 30px 30px 30px;
        position: fixed;
        
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 1200;
    }

    .jl-modal-header, .jl-modal-body, .jl-form{
        width: 100%;
        display: table;
        position: relative;
    }

    .jl-close-modal{
        width: 38px;
        height: 38px;
        border-radius: 50%;
        color: #2CCB69;
        background-color: #2f2f2f;
        text-align: center;
        line-height: center;
        cursor: pointer;
        position: absolute;
        top: -15px;
        right: -15px;
        border: none;
    }

    .jl-form label{
        margin-bottom: 10px;
        font-size: 16px;
    }

    .jl-field, .jl-text-area{
        width: 100%;
        height: 45px;
        background-color: #2f2f2f;
        border-radius: 4px;
        color: white;
        border: none;
        font-size: 16px;
        padding-left: 15px ;
    }

    .jl-text-area{
        height: 120px;
    }

    .jl-topbar{
        width: 100%;
        height: 110px;
        display: block;
        background-color: transparent;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 10;
        z-index: 1000;
    }

    .jl-logo{
        width: 74px;
        height: 110px;
        float: left;
        margin-left: 60px;
        background-color: #2CCB69;
        border-radius: 0px 0px 37px 0px;
    }

    .jl-logo img{
        width: 46px;
        height: 31px;
        display: block;
        margin: 55px auto 0px auto;
    }

    .jl-menu{
        display: none;
        z-index: 500;
    }

    .jl-btn-contact{
        width: 45px;
        height: 45px;
        display: block;
        background-color: #2CCB69;
        background-image: url("../images/icon-contact-close.svg");
        background-repeat: no-repeat;
        position: fixed;
        bottom: 45px;
        right: 45px;
        border-radius: 50%;
        z-index: 200;
        transition: all 0.2s ease-out;
        border: none;
        cursor: pointer;
    }

    .jl-contact-info{
        width: 245px ;
        height: 165px;
        background-color: #000;
        padding: 25px;
        position: fixed;
        bottom: 115px;
        right: 65px;
        z-index: 200;
        display: none;
    }

    .jl-contact-info-inner{
        display: table;
        width: 100%;
        float: right;
    }

    .jl-contact-info-inner p {
        font-size: 17px;
        line-height: 24px;
    }

    .jl-social-links, .jl-social-links-circle{
        width: 100%;
        height: 45px;
        display: block;
        position: relative;
        left: -12px; 
        margin-top: -4px;
    }

    .jl-social-links, .jl-social-links-circle{
        left: 0;
    }

    .jl-social, .jl-social-links-circle .jl-social{
        width: 45px;
        height: 45px;
        display: inline-block;
    }

    .jl-social-links-circle .jl-social{
        border-radius: 50%;
        color: #000;
        text-align: center;
    }
    .jl-social-links-circle .jl-social:hover{
       background-color: #000;
    }

    .jl-social-links-circle .jl-social ion-icon{
      vertical-align: middle;
      height: 45px;
    }

    .jl-social-links-circle .jl-social ion-icon:hover{
        color: #2CCB69;
    }

    .jl-social > img{
        display: block;
        height: auto;
        width: 20px;
        margin: 13px auto 0;
    }
    .jl-corner{
        width: 25px;
        height: 25px;
        display: block;
        float: right;
        display: relative;
    }
    .jl-corner:after{
        content: '';
        width: 24px;
        height: 25px;
        display: block;
        position: absolute;
        bottom: -23px;
        right: 0;
        background: transparent url('../images/corner.svg') no-repeat;
    }

    /*Bootstrap*/
    .jl-display-text{
        margin-top: 10%;
    }
    #jl-home-presentation{
        background-color: transparent;
        background-image: url(../images/joao-lemon-designer-home.png);
        background-repeat: no-repeat;
        background-position: 50% bottom;
        position: relative;
    }
    .jl-scroll-down{
        width: 70px;
        height: 105px;
        border-radius: 36px 36px 0 0;
        background-color: #2CCB69;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 100;
    }
    .jl-arrow-down{
        width: 100%;
        height: 75px;
        display: table;
        margin-top: 30px;
        position: relative;
    }
    .jl-arrow-down img{
        width: 16px;
        height: 10px;
        display: block;
        position: absolute;
        bottom: 15px;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 0;;
        animation: arrowDown 1s linear 1s infinite;
    }

    .jl-arrow-down:before{
        content: '';
        width: 2px;
        height: 45px;
        display: block;
        position: absolute;
        bottom: 25px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: #000;
        animation:  lineDown 1s infinite linear;
    }

/*portifolio home*/

.jl-portfolio-navigator{
    width: 145px;
    height: 400px;
    display: table;
    position: absolute;
    left: 0;
    top: 25vh;
}

.jl-nav-counter{
    width: 100%;
    height: 90px;
    display: block;
    margin-bottom: 60px;
    position: relative;
}

.jl-nav-counter:before{
    content: '';
    display: block;
    width: 35px;
    height: 100%;
    background-color: #1C1C1C;
    position: absolute;
    top: 3px;
    left: 0px;
}

.jl-nav-counter span{
    font-family: 'Open Sans', sans-serif;
    font-size: 120px;
    font-weight: 600;
    line-height: 90px;
}

/*navigator items*/
.jl-item-navigator{
    width: 100%;
    display: table;
}

.jl-item-navigator a{
    width: 20px;
    height: 1px;
    display: block;
    margin: 0 0 80px 35px;
    background-color: #4D4D4D;

}

.jl-item-navigator  a:last-child{
    margin-bottom: 30px;
}

.jl-item-navigator  a.jl-item-active{
    background-color: #2CCB69;
}

.jl-items-next-prev{
    width: 100%;
    height: 45px;
    background-color: #2f2f2f;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 0 23px 23px 0;
    cursor: pointer;
}

.jl-items-next-prev > div{
    height: 32px;
}

.jl-items-counter{
    font-family: 'Open Sans', sans-serif;
    color: #4D4C4C;
    line-height: 32px;
}

.jl-item-prev, .jl-item-next span{
    width: 45px;
    color: #2CCB69;
    text-align: center;

}

.jl-items-counter span:nth-child(1){
    color: #bcbcbc;
}

ion-icon{
    height: 30px;
    font-size: 32px;
}



/*slider*/
.jl-slider-container{
    display: block;
    overflow: hidden;
}

.jl-slider-list{
    width: auto;
    display: block;
    height: 700px;
    list-style: none;
}

.jl-slider-list .jl-slider-item{
    display: block;
    height: 500px;
    float: left;
    margin-top: calc(26vh - 75px);
     
}

.jl-slider-list  .jl-portfolio-item-info{
    width: calc(100% - 75px);
    display: table;
    margin-top: 73px;
    position: relative;
    opacity: 0;
    left: -75px;
}

.jl-portfolio-list  .jl-portfolio-item-info{
     width: calc(110% - 75px);
}

.jl-portfolio-list{
    list-style: none;
}

.jl-slider-list .jl-portfolio-item-thumb, .jl-portfolio-list .jl-portfolio-item-thumb{
    width: 100%;
    background-color: #2C2C2C;
    display: table;
    padding: 75px 0 19px 0;
    position: relative;
}

.jl-slider-list .jl-portfolio-item-thumb > button{
    margin-top: 16px;
    margin-right: 75px;
    float: right;
}

.jl-portfolio-list .jl-portfolio-item-thumb > button{
    margin-top: 16px;
    margin-right: 145px;
    float: right;
}

.jl-slider-list .jl-portfolio-item-box{
    width: 100% ;
    height: 100%;
    display: block;
    background-color: #2C2C2C;
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
}

.jl-portfolio-list .jl-portfolio-item-box{
    width: 100% ;
    height: 100%;
    display: block;
    background-color: #2C2C2C;
    position: absolute;
    top: 0;
    left: 0;
}

/*.jl-portfolio-list .jl-portfolio-item-box{
    transform: scale(1);
}*/

.jl-slider-list .jl-portfolio-item-thumb img{
    width: 100%;
    max-width: 100%;
    height: auto;
    position: relative;
    left: -75px;
    transform: scale(0);
    transform-origin: center;
}

.jl-portfolio-list .jl-portfolio-item-thumb img{
    width: 100%;
    max-width: 100%;
    height: auto;
    position: relative;
    left: -75px;
    
}

.jl-portfolio-list .jl-portfolio-item{
    margin-bottom: 100px;
}

.jl-portfolio-item-info{
    margin-top: 64px;
}



/*PORTFOLIO*/
/*Odd divs*/

.jl-section-offset-top {
    margin-top: 130px;
}

.jl-portfolio-list .jl-portfolio-item:nth-child(odd) .jl-portfolio-item-info{
    text-align: right;
}

.jl-portfolio-list .jl-portfolio-item:nth-child(odd) .jl-portfolio-item-info {
    margin-left: 55px;
}

.jl-portfolio-list .jl-portfolio-item:nth-child(odd) .jl-portfolio-item-info h1 {
    margin-left: 55px;
}

.jl-portfolio-list .jl-portfolio-item:nth-child(odd) .jl-portfolio-item-info button{
    float: right;
}
.jl-portfolio-list .jl-portfolio-item:nth-child(odd) .jl-portfolio-item-thumb button{
    float: right;
    margin-right: 75px;
}


/*Even divs*/
.jl-portfolio-list .jl-portfolio-item:nth-child(even) > .row{
    flex-direction: row-reverse;
}

.jl-portfolio-list .jl-portfolio-item:nth-child(even) .jl-portfolio-item-info{
    text-align: left;
}

.jl-portfolio-list .jl-portfolio-item:nth-child(even) .jl-portfolio-item-info{
    margin-left: 97px;
}


.jl-portfolio-list .jl-portfolio-item:nth-child(even) .jl-portfolio-item-thumb button{
    float: left;
    margin-left: 75px;
}

.jl-portfolio-list .jl-portfolio-item:nth-child(even) .jl-portfolio-item-thumb img{
    float: left;
    left: 75px;

}

/*ABOUT ME*/
#jl-about-img img{
    position: relative;
    left: -15px;
}

/*DETAILS*/
.jl-hero{
    height: 550px;
    background-image: url('../html/portfolio/img/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.jl-hero-inner{
    height: 550px;
    align-items: center;
}

.jl-hero-inner-content{
    position: relative;
    margin-top: 15px;
}

.jl-hero-inner-content div{
    z-index: 10;
}

.jl-hero-inner-content h1{
    margin-bottom: 50px;
}

.jl-hero-inner-content p{
    margin-bottom: 15px;
}

.jl-hero-inner-content:before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.85);
    display: block;
    position: absolute;
    left: -65px;
    top: -65px;
    box-sizing: content-box;
    z-index: 5;
    padding: 65px;
}

.jl-project-stats{
    width: 100%;
    height: 100%;
    display: table;
    border-right: 1px solid #2CCB69;
}


.jl-post{
    width: 100%;
    display: table;
}

.jl-post p{
    margin-bottom: 30px;
}

.jl-post-section{
    display: table;
    width: 100%;
    padding: 45px 0;
}

.jl-img-process-2 {
    position: relative;
    left: 75px;
}

.jl-pre-gallery{
    padding-bottom: 350px;
}

.jl-post-gallery{
    display: block;
}


.jl-post-gallery .container{
    position: relative;
    top: -270px;

}

@media screen and (min-width: 576px){
    
}

@media screen and (min-width: 768px){
    
}

@media screen and (min-width: 992px){
    .jl-menu{
        display: table;
        float: left;
        height: 110px;
        margin-left: 30px;
        z-index: 600;

    }

    .jl-menu a{
        text-decoration: none;
        color: #BCBCBC;
        font-size: 16px;
        text-transform: uppercase;
        font-family: 'Open Sans';
        display: inline-block;
        margin: 50px 20px 0px 20px;
        position: relative;
        border: none;
        z-index: 600;
    }

    .jl-menu a:first-child {
        margin-left: 0;
    }

    .jl-menu a:hover {
        color: #2CCB69;
    }
  
    .jl-menu a:before {
        content: '';
        width: 100%;
        height: 4px;
        background-color: #2CCB69;
        display: block;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: all 0.2s ease-out;
        transform: scale(0);
        transform-origin: center left; /*euxo y e x*/
    }
    
    .jl-menu a:hover:before {
        transform: scale(1,1);
    }

    .jl-contact-info{
        width: 245px ;
        height: 165px;
        background-color: #000;
        padding: 25px;
        position: fixed;
        bottom: 115px;
        right: 65px;
        z-index: 200;
    }
    
    
}

@media screen and (min-width: 1200px){
    
}

@media screen and (min-width: 1364px){
    
}

@media screen and (min-width: 1600){
    
}


/*btn classes*/
.jl-btn{
    display: table;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border: none;
    transition: all 0.2s ease-out;
    text-transform: capitalize;
    position: relative;
}

.jl-btn ion-icon{
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
    margin-top: -2px;

}

.jl-btn-block{
    display: block;
    width: 100%;
}

.jl-btn-medium{
    height: 35px;
    padding: 0 27px;
    border-radius: 19px;
    font-size: 14px;
    line-height: 38px;
}

.jl-btn-large{
    height: 45px;
    line-height: 45px;
    padding: 0 35px;
    border-radius: 23px;
    font-size: 16px;
}
.jl-btn-small{
    height: 28px;
    padding: 0 20px;
    border-radius: 14px;
    font-size: 12px;
    line-height: 28px;
}

.jl-btn-green{
    background-color: #2CCB69;
    color: #000;
}

.jl-btn-green:hover{
    background-color: rgb(6,135,55);
    color: #fff;
}

.jl-btn-black{
    background-color: #000;
    color: #2CCB69;
}

.jl-btn-black:hover{
    background-color: #2f2f2f;
    color: #fff;
}



/*utility classes*/

.red{
    background-color: red;
}

.jl-title{
    font-family: "Abril Fatface", serif;
    font-weight: normal;
}

.jl-subtitle{
    font-family: 'Open Sans', serif;
    font-weight: 800;
}

.jl-title-xlarge{
    font-size: 120px;
}

.jl-title-large{
    width: 90%;
    font-size: 64px;
    font-weight: 700;
}

.jl-title-medium{
    font-size: 48px;
}

.jl-text-green{
    color:#2CCB69;
}

.jl-text-dark{
    color:#4D4D4D;
}
.jl-text-light{
    color:#bcbcbc;
}

.jl-bg-green{
    background-color: #2CCB69;
}
.jl-bg-dark{
    background-color:#4D4D4D;
}
.jl-bg-light{
    background-color:#bcbcbc;
}
.jl-bg-black{
    background-color: #000;
} 
.jl-mar15{
    margin: 15px;
}
.jl-mar-top-15{
    margin-top: 15px;
}
.jl-mar-bottom-15{
    margin-bottom: 15px;
}

.jl-mar-top-30{
    margin-top: 30px;
}

.jl-mar-bottom-30{
    margin-bottom: 30px;
}

.jl-mar-right-15{
    margin-right: 15px;
}

.jl-mar-right-30{
    margin-right: 30px;
}

.jl-mar-left-15{
    margin-left: 15px;
}
.jl-pad15{
    padding: 15px;
}

.jl-pad30{
    padding: 30px;
}

.jl-pad-top-15{
    padding-top: 15px;
}

.jl-pad-bottom-15{
    padding-bottom: 15px;
}

.jl-pad-right-15{
    padding-right: 15px;
}

.jl-pad-left-15{
    padding-left: 15px;
}

.jl-full-height{
    height: 100vh;
    position: relative;
    z-index: 1;
}

.jl-first-section{
    height: calc(100vh -30px);
    z-index: 0;
}

.jl-no-padding{
    padding: 0 !important;
}

.jl-img-responsive{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

.jl-box-img{
    width: 100%;
    display: table;
}

.jl-page-list{
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

.jl-page-list > li{
    line-height: 21px;
    margin-bottom: 15px;
    padding-left: 20px;
    position: relative;
}

.jl-page-list > li::before{
    content: '';
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: 0;
    background-color: #2CCB69;
}

.jl-text-center{
    text-align: center;
}

/*behavior classes*/ 
.jl-is-open{
    display: block;
}

.jl-slide-top-in{
    animation: slideTopIn 0.8s forwards cubic-bezier(0, 1.01, 0.32, 1);
}

.jl-change-icon{
    background-position-y: -45px; 
}

.jl-fade-out{
    animation: fadeOut 2s forwards ease-out;
}

.jl-no-radius-left{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.jl-no-radius-right{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.jl-scale-right{
    animation: scaleRight 0.7s 0.2s forwards cubic-bezier(0,1.01,.32,1);
}

.jl-scale-up {
    animation: scaleUp 0.5s 0.5s forwards cubic-bezier(0, 1.01, 0.32, 1);
}
.jl-scale{
    animation: scale 0.5s 0.5s forwards cubic-bezier(0, 1.01, 0.32, 1);
}

.jl-fade-from-left{
    animation: fadeFromLeft 1s forwards cubic-bezier(0, 1.01, 0.32, 1);
}

}
