*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
}

p{
    font-family: "Open Sans", sans-serif;
}

@keyframes fadeOut{
    to{
        opacity: 0;
    }
}

@media screen and (min-width: 320px){

    .jl-page-wrapper, .jl-preloader{
        width: 100%;
        height: 100vh;
        display: table;
        background-color: #1C1C1C;
        border: 30px solid #000;
    }

    .jl-preloader{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        z-index: 1000;
        position: fixed;
        top:0;
        left: 0;
    }
    .jl-preloader-inner{
        margin-top: -45px;
        margin-right: -100px;
    }
    .jl-preloader-inner p{
        margin-left: -35px;
    }
    

    .jl-topbar{
        width: 100%;
        height: 110px;
        display: block;
        background-color: transparent;
        position: fixed;
        top: 0;
        left: 0;
    }
    .jl-logo{
        width: 74px;
        height: 110px;
        float: left;
        margin-left: 60px;
        background-color: #2CCB69;
        border-radius: 0px 0px 37px 0px;
    }
    .jl-logo img{
        width: 46px;
        height: 31px;
        display: block;
        margin: 55px auto 0px auto;
    }
    .jl-menu{
        display: none;
    }

    .jl-btn-contact{
        width: 45px;
        height: 45px;
        display: block;
        background-color: #2CCB69;
        background-image: url("../images/icon-contact-close.svg");
        background-repeat: no-repeat;
        position: fixed;
        bottom: 45px;
        right: 45px;
        border-radius: 50%;
        z-index: 200;
        transition: all 0.2s ease-out;
        border: none;
        cursor: pointer;
    }

    .jl-contact-info{
        width: 245px ;
        height: 165px;
        background-color: #000;
        padding: 25px;
        position: fixed;
        bottom: 115px;
        right: 65px;
        z-index: 200;
        display: none;
    }

    .jl-contatc-info-inner{
        display: table;
        width: 100%;
        float: right;
    }

    .jl-contact-info-inner p {
        font-size: 18px;
        line-height: 24px;
    }

    .jl-social-links{
        width: 100%;
        height: 45px;
        display: block;
        position: relative;
        left: -12px; 
        margin-top: -4px;
    }

    .jl-social{
        width: 45px;
        height: 45px;
        display: inline-block;
        
    }

    .jl-social > img{
        display: block;
        height: auto;
        width: 20px;
        margin: 13px auto 0;
    }
    .jl-corner{
        width: 25px;
        height: 25px;
        display: block;
        float: right;
        display: relative;
    }
    .jl-corner:after{
        content: '';
        width: 24px;
        height: 25px;
        display: block;
        position: absolute;
        bottom: -23px;
        right: 0;
        background: transparent url('../images/corner.svg') no-repeat;
    }
    /*Bootstrap*/
    .jl-display-text{
        margin-top: 10%;
    }
    #jl-home-presentation{
        background-image: url(../images/joao-lemon-designer-home.png);
        background-repeat: no-repeat;
        background-position: 50% bottom;
    }
}

@media screen and (min-width: 576px){
    
}

@media screen and (min-width: 768px){
    
}

@media screen and (min-width: 992px){
    .jl-menu{
        display: table;
        float: left;
        height: 110px;
        margin-left: 30px;
    }
    .jl-menu a{
        text-decoration: none;
        color: #BCBCBC;
        font-size: 16px;
        text-transform: lowercase;
        font-family: 'Open Sans';
        display: inline-block;
        margin: 50px 20px 0px 20px;
        position: relative;
    }

    .jl-menu a:hover {
        color: #2CCB69;
    }
    
    .jl-menu a:first-child {
        margin-left: 0;
    }
    
    .jl-menu a:before {
        content: '';
        width: 100%;
        height: 4px;
        background-color: #2CCB69;
        display: block;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: all 0.2s ease-out;
        transform: scale(0,1);
        transform-origin: center left; /*euxo y e x*/
    }
    
    .jl-menu a:hover:before {
        transform: scale(1,1); /*nossa animação começava do começo ate o final, agr comeca do meio, mas devemos atribuir uma direção com o transform-origin*/
    }

    .jl-contact-info{
        width: 245px ;
        height: 165px;
        background-color: #000;
        padding: 25px;
        position: fixed;
        bottom: 115px;
        right: 65px;
        z-index: 200;
    }
    
    
}

@media screen and (min-width: 1200px){
    
}

@media screen and (min-width: 1364px){
    
}

@media screen and (min-width: 1600){
    
}

/*CLASSES UTILITARIAS*/

.jl-title{
    font-family: "Abril Fatface", serif;
    font-weight: normal;
}
.jl-title-big{
    font-size: 120px;
}
.jl-text-green{
    color:#2CCB69;
}

.jl-text-dark{
    color:#4D4D4D;
}
.jl-text-light{
    color:#bcbcbc;
}

.jl-bg-green{
    background-color: #2CCB69;
}
.jl-bg-dark{
    background-color:#4D4D4D;
}
.jl-bg-light{
    background-color:#bcbcbc;
}
.jl-mar15{
    margin: 15px;
}
.jl-mar-top-15{
    margin-top: 15px;
}
.jl-mar-bottom-15{
    margin-bottom: 15px;
}
.jl-mar-rigth-15{
    margin-right: 15px;
}
.jl-mar-left-15{
    margin-left: 15px;
}
.jl-pad15{
    padding: 15px;
}
.jl-pad-top-15{
    padding-top: 15px;
}
.jl-pad-bottom-15{
    padding-bottom: 15px;
}
.jl-pad-right-15{
    padding-right: 15px;
}
.jl-pad-left-15{
    padding-left: 15px;
}
.jl-full-height{
    height: 100vh;
    background-color: #1C1C1C;
    border-bottom: 5px solid #2CCB69;
}
.jl-first-section{
    height: calc(100vh -30px);
}



/*CLASSES DE COMPORTAMENTO*/ 
.jl-is-open{
    display: block;
}

.jl-change-icon{
    background-position-y: -45px; /*quando colocamos o back-position-y -45px, quando posicionamos o mouse pelo o efeito hover, a segunda parte do icone aparece, pq ela diminui 45px*/
}

.jl-fade-out{
    animation: fadeOut 2s forwards ease-out;

}