*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
}

p, label{
    font-family: "Open Sans", sans-serif;
}

@keyframes fadeOut{
    to{
        opacity: 0;
    }
}

@keyframes fadeFromLeft{
    to{
        left: 0;
        opacity: 1;
    }
}

@keyframes slideTopIn{
    to{
        top: 20%;
        opacity: 1;
    }
}

@keyframes scaleRight {
    to {
        transform: scaleX(1)
    }
}

@keyframes scaleUp{
    to {
        transform: scaleX(1);
        transform-origin: center;
    }
}

@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes lineDown{
    0%{
        transform: scale(1,0);
        transform-origin: top center;
    }
    25%{
        transform: scale(1,1);
    }
}

@keyframes arrowDown{
    0%{
        bottom: 25px;
    }
    30%{
        bottom: 15px;
        opacity: 1;
    }
    70%{
        bottom: 10px;
        opacity: 1;
    }
    100%{
        bottom: 5px;
        opacity: 1;
    }
}

@keyframes skeletonBlur{
    to{
        background-position: 250% -150px;
    }
}

@media screen and (min-width: 320px){
    
    .jl-preloader{
        width: 100%;
		height: 100vh;
        display: table;
        background-color: #1C1C1C;
        border: 30px solid #000;
    }

    .jl-page-wrapper{
        width: 100%;
        height: 100%;
        display: table;
        background-color: #1C1C1C;
        border: 30px solid #000;
    }

    .jl-preloader{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        z-index: 1000;
        position: fixed;
        top:0;
        left: 0;
    }

    .jl-preloader-inner{
        margin-top: -45px;
    }

    .jl-preloader-inner p{
        margin: 0 auto;
        position: relative;
        right: -30px;
    }

    .jl-overlay, .jl-menu-overlay{
        width: 100%;
        height: 100vh;
        display: none;
        position: fixed;
        z-index: 100;
        top:0;
        left: 0;
        background-color: rgb(44, 201, 104, 0.95);
    }

    .jl-modal{
        width: 800px;
        display: none;
        padding: 30px;
        border-radius: 0 30px 30px 30px;
        position: fixed;
        top: -100;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 5000;
    }

    .jl-modal-header, .jl-modal-body, .jl-form{
        width: 100%;
        display: table;
        position: relative;
        z-index: 5001;
    }

    .jl-close-modal{
        width: 38px;
        height: 38px;
        border-radius: 50%;
        color: #2CCB69;
        background-color: #2f2f2f;
        text-align: center;
        line-height: center;
        cursor: pointer;
        position: absolute;
        top: -15px;
        right: -15px;
        border: none;
    }

    .jl-form label{
        margin-bottom: 10px;
        font-size: 16px;
        display: inline-block;
    }

    .jl-field, .jl-text-area{
        width: 100%;
        height: 45px;
        background-color: #2f2f2f;
        border-radius: 4px;
        color: white;
        border: none;
        font-size: 16px;
        padding-left: 15px ;
    
    }

    .jl-text-area{
        height: 120px;
    }

    .jl-field {
        height: 45px;
    }
    .jl-topbar{
        width: 100%;
        height: 110px;
        display: block;
        background-color: transparent;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    .jl-logo{
        width: 74px;
        height: 110px;
        float: left;
        margin-left: 60px;
        background-color: #2CCB69;
        border-radius: 0px 0px 37px 0px;
    }

    .jl-logo img{
        width: 46px;
        height: 31px;
        display: block;
        margin: 55px auto 0px auto;
    }

    .jl-menu{
        display: none;
        z-index: 500;
    }

    .jl-menu-mobile a:hover{
        color: #2CCB69;
        text-decoration: underline;
    }

    .jl-btn-menu-mobile{
        width: 54px;
        height: 54px;
        display: block;
        border-radius: 50%;
        border: none;
        background-color: #2CCB69;
        color: black;
        position: fixed;
        right: 30px;
        top: 30px;
        z-index: 1600;
        cursor: pointer;
    }

    .jl-btn-menu-mobile:hover{
        color: #fff;
        background-color: #2C2C2C;

    }

    .jl-btn-menu-mobile ion-icon{
        vertical-align: middle;
    }

    .jl-menu-mobile{
        width: 240px;
        height: 100vh;
        display: block;
        background-color: #000;
        position: fixed;
        top: 0;
        z-index: 1500;
        padding: 100px 30px 30px 30px;
        transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
    }

    .jl-menu-mobile a{
        width: 100%;
        height: 60px;
        display: block;
        line-height: 60px;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        text-decoration: none;
    }

    .jl-menu-is-open{
        right: 0;
    }

    .jl-menu-is-closed{
        right: -240px;
    }

    .jl-menu-mobile a {
        width: 100%;
        height: 60px;
        display: block;
        line-height: 60px;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        text-decoration: none;
    }

    .jl-btn-contact{
        width: 45px;
        height: 45px;
        display: block;
        background-color: #2CCB69;
        background-image: url("../images/icon-contact-close.svg");
        background-repeat: no-repeat;
        position: fixed;
        bottom: 45px;
        right: 45px;
        border-radius: 50%;
        z-index: 200;
        transition: all 0.2s ease-out;
        border: none;
        cursor: pointer;
    }

    .jl-contact-info{
        width: 245px ;
        height: 165px;
        background-color: #000;
        padding: 25px;
        position: fixed;
        bottom: 115px;
        right: 65px;
        z-index: 200;
        display: none;
    }

    .jl-contact-info-inner{
        display: table;
        width: 100%;
        float: right;
    }

    .jl-contact-info-inner p {
        font-size: 17px;
        line-height: 24px;
    }

    .jl-social-links, .jl-social-links-circle{
        width: 100%;
        height: 45px;
        display: block;
        position: relative;
        left: -12px; 
        margin-top: -4px;
    }

    .jl-social-links, .jl-social-links-circle{
        left: 0;
    }

    .jl-social, .jl-social-links-circle .jl-social{
        width: 45px;
        height: 45px;
        display: inline-block;
    }

    .jl-social-links-circle .jl-social{
        border-radius: 50%;
        color: #000;
        text-align: center;
        transition: all 0.2s ease-out;
    }

    .jl-social-links-circle .jl-social:hover{
       background-color: #000;
    }

    .jl-social-links-circle .jl-social ion-icon{
      vertical-align: middle;
      height: 45px;
      
    }

    .jl-social-links-circle .jl-social ion-icon:hover{
        color: #2CCB69;
    }

    .jl-social > img{
        display: block;
        height: auto;
        width: 20px;
        margin: 13px auto 0;
    }

    .jl-corner{
        width: 25px;
        height: 25px;
        display: block;
        float: right;
        display: relative;
    }
    .jl-corner:after{
        content: '';
        width: 24px;
        height: 25px;
        display: block;
        position: absolute;
        bottom: -23px;
        right: 0;
        background: transparent url('../images/corner.svg') no-repeat;
    }


    /*-------------------------------------------------------------------*/
    /*HOME*/
    .jl-display-text{
        margin-top: 10%;
    }
    
    .jl-home-presentation{
        position: relative;
        top: 10px;
        background-image: url(../images/joao-lemon-designer-home.png);
        background-repeat: no-repeat;
        background-position: 50% bottom;
        background-size: 100% auto;
    }

    .jl-home-presentation h1{
        margin-top: 20px;
        text-align: center;
        width: 105%;
    }

    .jl-home-presentation p{
        text-align: center;
    }
    
    .jl-home-presentation .jl-btn{
        margin-left: auto;
        margin-right: auto;
    }

    .jl-scroll-down{
        width: 70px;
        height: 105px;
        border-radius: 36px 36px 0 0;
        background-color: #2CCB69;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 100;
    }
    .jl-arrow-down{
        width: 100%;
        height: 75px;
        display: table;
        margin-top: 30px;
        position: relative;
    }
    .jl-arrow-down img{
        width: 16px;
        height: 9px;
        display: block;
        position: absolute;
        bottom: 15px;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 0;;
        animation: arrowDown 1.5s linear 1.5s infinite;
    }

    .jl-arrow-down:before{
        content: '';
        width: 2px;
        height: 45px;
        display: block;
        position: absolute;
        bottom: 25px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: #000;
        animation: lineDown 1.5s ease-out infinite;
        transform-origin: top center
    }
    /*portfolio home*/

    .jl-portfolio-navigator{
        width: 145px;
        height: 100;
        display: table;
        position: absolute;
        bottom: 15px;
    }

    .jl-nav-counter{
        width: 100%;
        height: 90px;
        display: block;
        margin-bottom: 60px;
        position: relative;
    }

    .jl-nav-counter:before{
        content: '';
        display: block;
        width: 35px;
        height: 100%;
        background-color: #1C1C1C;
        position: absolute;
        top: 3px;
        left: 0px;
    }

    .jl-nav-counter span{
        font-family: 'Open Sans', sans-serif;
        font-size: 120px;
        font-weight: 600;
        line-height: 90px;
    }

    /*navigator items*/
    .jl-item-navigator{
        width: 100%;
        display: table;
    }

    .jl-item-navigator a{
        width: 20px;
        height: 1px;
        display: block;
        margin: 0 0 80px 35px;
        background-color: #4D4D4D;

    }

    .jl-item-navigator  a:last-child{
        margin-bottom: 30px;
    }

    .jl-item-navigator  a.jl-item-active{
        background-color: #2CCB69;
    }

    .jl-items-next-prev{
        width: 145px;
        height: 45px;
        background-color: #2f2f2f;
        display: flex;
        justify-content:space-between;
        align-items: center;
        border-radius: 23px;
        cursor: pointer;
        color: #2CCB69;
    }

    .jl-items-next-prev > div{
        height: 32px;
    }

    .jl-items-counter{
        font-family: 'Open Sans', sans-serif;
        color: #4D4C4C;
        line-height: 32px;
    }

    .jl-item-prev, .jl-item-next span{
        width: 45px;
        color: #2CCB69;
        text-align: center;

    }

    .jl-items-counter span:nth-child(1){
        color: #bcbcbc;
    }

    ion-icon{
        height: 30px;
        font-size: 32px;
        
    }

    /*----------------------------------------------------------------------------------*/
    /*slider*/
    .jl-slider-container{
        display: block;
        overflow: hidden;

    }

    .jl-slider-list{
        width: auto;
        display: block;
        list-style: none;
    }

    .jl-slider-list .jl-slider-item{
        display: block;
        height: auto;
        float: left;
        margin-top: 0;
        
    }

    .jl-slider-list  .jl-portfolio-item-info{
        width: 100%;
        height: 300px;
        display: table;
        margin-top: 5px;
        position: relative;
        opacity: 0;
    }

    .jl-portfolio-list  .jl-portfolio-item-info{
        width: calc(100% - 105px);
    }

    .jl-portfolio-list{
        list-style: none;
    }

    .jl-slider-list .jl-portfolio-item-thumb{
        width: 100%;
        display: table;
        padding: 15px 0 19px 0;
        position: relative;
    }

    .jl-portfolio-list .jl-portfolio-item-thumb{
        width: 100%;
        display: table;
        padding: 20px 0 19px 0;
        position: relative;
    }

    .jl-slider-list .jl-portfolio-item-thumb > button{
        margin: 17px auto 0 auto;
        float: none;
    }

    .jl-portfolio-list .jl-portfolio-item-thumb > button {
        margin: 17px;
        margin-right: 75px;
        float: right;
    }

    .jl-slider-list .jl-portfolio-item-box{
        width: 100% ;
        height: 100%;
        display: block;
        background-color: #2C2C2C;
        position: absolute;
        top: 0;
        left: 0;
        transform: scaleX(0);
        transform-origin: right;
    }

    .jl-portfolio-list .jl-portfolio-item-box{
        width: 100% ;
        height: 100%;
        display: block;
        background-color: #2C2C2C;
        position: absolute;
        top: 0;
        left: 0;
    }


    .jl-slider-list .jl-portfolio-item-thumb img{
        width: 100%;
        max-width: 100%;
        height: auto;
        position: relative;
        left: -75px;
        transform: scale(0);
    }

    .jl-slider-list .jl-portfolio-item-thumb img{
        width: 90%;
        max-width: 100%;
        height: auto;
        position: relative;
        left: 5%;
        transform: scale(0);
    }


    .jl-portfolio-list .jl-portfolio-item{
        margin-bottom: 100px;
    }

    .jl-portfolio-item-info{
        margin-top: 32px;
    }

    .jl-portfolio-list .jl-portfolio-item-thumb img{
        width: 100%;
        max-width: 100%;
        height: auto;
        position: relative;
    }

    /*----------------------------------------------------------*/
    /*PORTFOLIO*/
    /*odd divs*/
    .jl-section-offset-top {
        margin-top: 130px;
    }

    .jl-portfolio-list .jl-portfolio-item{
        margin-bottom: 50px;
    }

    .jl-portfolio-list .jl-portfolio-item:nth-child(odd) .jl-portfolio-item-info{
        width: 100%;
    }


    .jl-portfolio-list .jl-portfolio-item:nth-child(odd) .jl-portfolio-item-info button{
        float: none;
        margin: 0 auto;
    }

    .jl-portfolio-list .jl-portfolio-item:nth-child(even) > .row {
        flex-direction: row-reverse;
    }

    .jl-portfolio-list .jl-portfolio-item:nth-child(even) .jl-portfolio-item-info{
        width: 100%;
        margin-left: 0;
    }

    .jl-portfolio-list .jl-portfolio-item:nth-child(even) .jl-portfolio-item-thumb button{
        margin: auto;
    }

    .jl-portfolio-list .jl-portfolio-item:nth-child(even) .jl-portfolio-item-thumb button{
        margin: 15px auto;
        float: none;
    }

    .jl-portfolio-list .jl-portfolio-item:nth-child(odd) .jl-portfolio-item-thumb button{
        margin: 15px auto;
        float: none;
    }

    
    /*ABOUT ME*/
    #jl-about-img img{
        position: relative;
        left: -15px;
    }

    /*DETAILS*/
    .jl-hero{
        background-image: url('../html/portfolio/img/hero.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .jl-hero-inner{
        display: table;
        align-items: center;
        padding: 65px 0;
    }

    .jl-hero-inner-content{
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.85);
        display: block;
        z-index: 5;
        padding: 15px 20px 15px 20px;

    }

    .jl-hero-inner-content div{
        z-index: 10;
    }

    .jl-hero-inner-content h1{
        margin-bottom: 50px;
    }


    .jl-project-stats{
        width: 100%;
        height: 100%;
        display: table;
    }


    .jl-post{
        width: 100%;
        display: table;
    }

    .jl-post p{
        margin-bottom: 30px;
    }

    .jl-post-section{
        display: table;
        width: 100%;
        padding: 45px 0;
    }

    .jl-img-process-2 {
        position: relative;
        left: -2px;
    }

    .jl-pre-gallery{
        padding-bottom: 350px;
    }

    .jl-post-gallery{
        display: block;
    }


    .jl-post-gallery .container{
        position: relative;
        top: -280px;

    }

    .jl-gallery-frame-container{
        width: 400px;
        display: none;
        position: fixed;
        top: 30px;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 1100;
    }

    img.jl-gallery-frame{
        width: 100%;
        height: auto;
        max-width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1300;
    }

    .jl-gallery-frame-inner{
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
    }

    .jl-gallery-frame-inner .jl-skeleton-loading{
        width: 88%;
        height: 100%;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        z-index: 1250;
        position: absolute;
        top: 3%;
        left: 6%;
    }


    .jl-gallery-frame-inner .jl-skeleton-loading > div{
        width: 90%;
        background-color: #dadada;
        margin: 10% 0;
        border-radius: 8px;
        background-image: url('../images/skeleton-loading-blur.svg');
        background-repeat: no-repeat;
        background-position: -150px -150px;
        animation: skeletonBlur 3s infinite ease-out;
    }

    .jl-gallery-frame-inner .jl-skeleton-loading > div:first-child, .jl-gallery-frame-inner .jl-skeleton-loading > div:last-child{
    height: 15%;
    }

    .jl-gallery-frame-inner .jl-skeleton-loading > div:nth-child(2){
        height: 60%;
    }


    .jl-close-gallery{
        width: 45px;
        height: 45px;
        display: block;
        position: absolute;
        top: -15px;
        right: -45px;
        background-color: #000;
        border-radius: 50%;
        border: none;
        z-index: 1200;
    }

    .jl-close-gallery:hover{
        background-color: #4D4D4D;

    }

    .jl-close-gallery ion-icon{
        color: #2CCB69;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 45px;
            cursor: pointer;
    }


    .jl-close-gallery ion-icon:hover{
        color:white;
    }

    .jl-gallery-frame-container .jl-items-next-prev {
        width: 150px;
        margin: 75px auto;
    }

    .jl-gallery-frame-image{
        z-index: 1200;
        width: 87%;
        max-width: 87%;
        margin: 0 auto;
        display: block;
        border-radius: 30px;
        position: relative;
        top: 20px;
    }

    .jl-title-xlarge{
        font-size: 90px;
    }

    .jl-title-large{
        font-size: 40px;
        text-align: center;
    }

    .jl-portfolio-item-info p{
        text-align: left;
        
    }

    .jl-portfolio-item-info button{
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .jl-description{
        width: 100%;
        height: 100%;
        display: table;
        margin-top: 30px;
    }

    .jl-full-height{
        width: 100%;
        height: auto;
        position: relative;
    }
    .jl-text-center-mob{
        text-align: center;
    }
}
    
@media screen and (min-width: 440px){
    .jl-modal{
        margin-top: -80px;
    }
}

@media screen and (min-width: 576px){
    .jl-hero-inner-content{
        padding: 55px 65px 65px;

    }
}

@media screen and (min-width: 700px){
    .jl-home-presentation{
        background-size: 100%;
    }
}


@media screen and (min-width: 768px){
    .jl-home-presentation{
        background-size: 80%;
    }

    .jl-title-large{
        font-size: 48px;
    }
    .jl-text-center-mob{
        text-align: left;
    }
}

@media screen and (max-width: 820px){

    .jl-modal-body{
        margin: 0 auto;
        width: 700px;
        padding: 10px;
        border-radius: 0 30px 30px 30px;
    }
    .jl-modal-body p{
        position: relative;
        left: -27px;
        text-align: center;
    }

    .jl-modal-header h1{
        text-align: center;
    }

    .jl-modal{
        width: 700px;
    }

    .jl-form{
        margin: auto;
        width: 95%;
        position: relative;
        left: -30px;
    }

}

@media screen and (max-width: 990px){
    .jl-portfolio-item-info p {
        text-align: center;
    }
}

@media screen and (min-width: 992px){
    .jl-menu-mobile{
        display: none;
    }

    .jl-btn-menu-mobile{
        display: none;
    }
    
    .jl-menu{
        display: table;
        float: left;
        height: 110px;
        margin-left: 30px;
        z-index: 600;
    }

    .jl-menu a{
        text-decoration: none;
        color: #BCBCBC;
        font-size: 16px;
        text-transform: uppercase;
        font-family: 'Open Sans';
        display: inline-block;
        margin: 50px 20px 0px 20px;
        position: relative;
        border: none;
        z-index: 600;
    }

    .jl-menu a:first-child {
        margin-left: 0;
    }

    .jl-menu a:hover {
        color: #2CCB69;
    }
  
    .jl-menu a:before {
        content: '';
        width: 100%;
        height: 4px;
        background-color: #2CCB69;
        display: block;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: all 0.2s ease-out;
        transform: scale(0);
        transform-origin: center left; /*euxo y e x*/
    }
    
    .jl-menu a:hover:before {
        transform: scale(1,1);
    }
    .jl-title-xlarge{
        font-size: 120px;
    }
        
    .jl-home-presentation{
        background-size: auto auto;
    }

    .jl-home-presentation h1{
        margin-top: 0;
        text-align: left;
    }

    .jl-home-presentation p{
        text-align: left;
    }

    .jl-home-presentation .jl-btn{
        margin-left: 0;
        margin-right: auto;
    }

    .jl-slider-list .jl-portfolio-item-thumb{
        padding: 30px 0 19px 0;
        margin-top: 45px;
    }

    .jl-slider-list .jl-portfolio-item-thumb img{
        max-width: 120%;
        width: 120%;
        left: -115px;
    }

    .jl-slider-list .jl-portfolio-item-thumb button{
        margin: 17px 6% 0 0;
        float: right;
    }

    .jl-nav-counter span{
        font-size: 100px;
    }
    .jl-nav-counter:before{
       width: 30px;
    }

    .jl-title-large, .jl-slider-list .jl-portfolio-item-info p{
        text-align: left;
    }

    .jl-slider-list  .jl-portfolio-item-info{
        width: calc(100% - 75px);
        left: -80px;
        margin-top: 73px;
    }

    .jl-portfolio-item-info button{
        margin: 0;
    }

    .jl-slider-list .jl-slider-item{
        display: block;
        height: 500px;
        float: left;
        margin-top: calc(26vh - 75px);
    }

    .jl-items-next-prev{
        width: 100%;
        height: 45px;
        background-color: #2f2f2f;
        display: flex;
        justify-content:center;
        align-items: center;
        border-radius: 23px;
        cursor: pointer;
        color: #2CCB69;
    }

    .jl-full-height{
        width: 100%;
        height: 100vh;
        position: relative;
    }

    .jl-portfolio-navigator{
        width: 145px;
        height: 400px;
        display: table;
        position: absolute;
        left: 15px;
        top: 25vh;
    }

    .jl-portfolio-list .jl-portfolio-item:nth-child(odd) .jl-portfolio-item-info{
        text-align: right;
        margin-top: 70px;
    }
    
    .jl-portfolio-list .jl-portfolio-item:nth-child(odd) .jl-portfolio-item-info button{
        float: right;
    }
   
    .jl-portfolio-list .jl-portfolio-item:nth-child(even) .jl-portfolio-item-info{
        margin-left: 105px;
    }

    .jl-portfolio-list .jl-portfolio-item:nth-child(odd) .jl-portfolio-item-info h1{
        text-align: right;
    }

    .jl-portfolio-list .jl-portfolio-item:nth-child(odd) .jl-portfolio-item-info p{
        text-align: right;
    }

    .jl-portfolio-list .jl-portfolio-item:nth-child(odd) .jl-portfolio-item-info button{
        float: right;
    }

    
    .jl-portfolio-list .jl-portfolio-item-thumb img{
        width: 100%;
        max-width: 100%;
        height: auto;
        position: relative;
    }

    .jl-portfolio-list .jl-portfolio-item:nth-child(even) .jl-portfolio-item-thumb img{
        left: 75px;
    }
    
    .jl-portfolio-list .jl-portfolio-item:nth-child(odd) .jl-portfolio-item-thumb img{
        left: -75px;
    }

    .jl-portfolio-list .jl-portfolio-item:nth-child(even) .jl-portfolio-item-thumb button{
        margin: 15px auto;
        float: none;
    }

    .jl-portfolio-list .jl-portfolio-item:nth-child(even) .jl-portfolio-item-thumb button{
        margin: 17px;
        margin-left: 65px;
        float: left;
    }

    .jl-portfolio-list .jl-portfolio-item:nth-child(odd) .jl-portfolio-item-thumb button{
        margin: 17px;
        margin-right: 70px;
        float: right;
    }

    .jl-portfolio-list .jl-portfolio-item-thumb{
        width: 100%;
        display: table;
        padding: 75px 0 19px 0;
        position: relative;
    }
    
    .jl-portfolio-list .jl-portfolio-item{
        margin-bottom: 100px;
    }

    .jl-portfolio-item-info{
        margin-top: 64px;
    }

    .jl-description{
        margin-top: 0;
    }

    .jl-project-stats{
        width: 100%;
        height: 100%;
        display: table;
        border-right: 1px solid #2CCB69;
    }



    
    
}

@media screen and (min-width: 1200px){
    .jl-title-large{
        font-size: 64px;
    }
    
    .jl-slider-list .jl-portfolio-item-thumb{
        padding: 75px 0 19px 0;
    }

    .jl-slider-list .jl-portfolio-item-thumb img{
        max-width: 100%;
        width: 100%;
        left: -75px;
    }

    .jl-slider-list .jl-portfolio-item-info h1{
        position: relative;
        top: 35px;
        margin-bottom: 45px;
    }

    .jl-slider-list .jl-portfolio-item-thumb button{
        margin-right: 75px;
    }



    .jl-nav-counter span{
        font-size: 120px;
    }
    .jl-nav-counter:before{
       width: 35px;
    }
}



@media screen and (min-width: 1364px){
    
}


@media screen and (min-width: 1600){
    
}



/*btn classes*/
.jl-btn{
    display: table;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border: none;
    transition: all 0.2s ease-out;
    text-transform: capitalize;
    position: relative;
}

.jl-btn ion-icon{
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
    margin-top: -2px;

}

.jl-btn-block{
    display: block;
    width: 100%;
}

.jl-btn-medium{
    height: 35px;
    padding: 0 27px;
    border-radius: 19px;
    font-size: 14px;
    line-height: 38px;
}

.jl-btn-large{
    height: 45px;
    line-height: 45px;
    padding: 0 35px;
    border-radius: 23px;
    font-size: 16px;
}
.jl-btn-small{
    height: 28px;
    padding: 0 20px;
    border-radius: 14px;
    font-size: 12px;
    line-height: 28px;
}

.jl-btn-green{
    background-color: #2CCB69;
    color: #000;
}

.jl-btn-green:hover{
    background-color: rgb(6,135,55);
    color: #fff;
}

.jl-btn-black{
    background-color: #000;
    color: #2CCB69;
}

.jl-btn-black:hover{
    background-color: #2f2f2f;
    color: #fff;
}



/*utility classes*/

.red{
    background-color: red;
}

.jl-title{
    font-family: "Abril Fatface", serif;
    font-weight: normal;
}

.jl-subtitle{
    font-family: 'Open Sans', serif;
    font-weight: 800;
}

.jl-title-medium{
    font-size: 48px;
}

.jl-text-green{
    color:#2CCB69;
}

.jl-text-dark{
    color:#4D4D4D;
}
.jl-text-light{
    color:#bcbcbc;
}

.jl-bg-green{
    background-color: #2CCB69;
}
.jl-bg-dark{
    background-color:#4D4D4D;
}
.jl-bg-light{
    background-color:#bcbcbc;
}
.jl-bg-black{
    background-color: #000;
} 
.jl-mar15{
    margin: 15px;
}
.jl-mar-top-15{
    margin-top: 15px;
}
.jl-mar-bottom-15{
    margin-bottom: 15px;
}

.jl-mar-top-30{
    margin-top: 30px;
}

.jl-mar-bottom-30{
    margin-bottom: 30px;
}

.jl-mar-right-15{
    margin-right: 15px;
}

.jl-mar-right-30{
    margin-right: 30px;
}

.jl-mar-left-15{
    margin-left: 15px;
}
.jl-pad15{
    padding: 15px;
}

.jl-pad30{
    padding: 30px;
}

.jl-pad-top-15{
    padding-top: 15px;
}

.jl-pad-bottom-15{
    padding-bottom: 15px;
}

.jl-pad-right-15{
    padding-right: 15px;
}

.jl-pad-left-15{
    padding-left: 15px;
}

/*.jl-full-height{
    width: 100%;
    height: 100vh;
    position: relative;
}*/

.jl-first-section{
    width: auto;
    height: 100vh !important;
    position: relative;
    box-sizing: border-box;
}


.jl-no-padding{
    padding: 0 !important;
}

.jl-img-responsive{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

.jl-box-img{
    width: 100%;
    display: table;
}

.jl-page-list{
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

.jl-page-list > li{
    line-height: 21px;
    margin-bottom: 15px;
    padding-left: 20px;
    position: relative;
}

.jl-page-list > li::before{
    content: '';
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: 0;
    background-color: #2CCB69;
}

.jl-text-center{
    text-align: center;
}




/*behavior classes, animation*/ 
.jl-is-open{
    display: block;
}

.jl-slide-top-in {
    animation: slideTopIn 0.8s forwards cubic-bezier(0.42, 0, 0.58, 1);
}

.jl-change-icon{
    background-position-y: -45px; 
}

.jl-fade-out{
    animation: fadeOut 2s forwards ease-out;
}

.jl-fade-from-left{
    animation: fadeFromLeft 2s 0.8s forwards cubic-bezier(0,1.01,.32,1);
}

.jl-scale-right{
    animation: scaleRight 0.7s 0.2s forwards cubic-bezier(0,1.01,.32,1);
}

.jl-scale-up {
    animation: scaleUp 0.5s 0.5s forwards cubic-bezier(0, 1.01, 0.32, 1);
}

.jl-no-radius-left{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.jl-no-radius-right{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.jl-text-none{
    text-decoration: none;
    color: black;
}


