.jl-slider-container {
    display: block;
    overflow: hidden;
}

.jl-slider-list {
    width: auto;
    height: 700px;
    display: block;
    list-style: none;
}

.jl-slider-list  .jl-slider-item {
    display: block;
    height: 500px;
    float: left;
    margin-top: calc(26vh - 75px);
}

.jl-portfolio-list  .jl-portfolio-item {
    margin-bottom: 100px;
}

.jl-slider-list  .jl-portfolio-item-info{
   width: calc(100% - 75px);
   display: table;
   margin-top: 73px;
   position: relative;
   opacity: 0;
   left: -75px;
}

.jl-portfolio-list {
   list-style: none;
}

.jl-portfolio-list  .jl-portfolio-item-info {

}

.jl-slider-list  .jl-portfolio-item-thumb,  .jl-portfolio-list  .jl-portfolio-item-thumb{
   width: 100%;
   display: table;
   padding: 75px 0 19px 0;
   position: relative;
}

.jl-slider-list .jl-portfolio-item-thumb > button, .jl-portfolio-list .jl-portfolio-item-thumb > button {
    margin-top: 17px;
    margin-right: 75px;
    float: right;
}

.jl-slider-list  .jl-portfolio-item-box, .jl-portfolio-list  .jl-portfolio-item-box{
   width: 100%;
   height: 100%;
   display: block;
   background-color: #2C2C2C;
   position: absolute;
   top: 0;
   left: 0;
   transform: scaleX(0);
   transform-origin: right;
}
.jl-portfolio-list  .jl-portfolio-item-box{
    transform: scaleX(1);
}

.jl-slider-list  .jl-portfolio-item-thumb img, .jl-portfolio-list  .jl-portfolio-item-thumb img   {
   width: 100%;
   max-width: 100%;
   height: auto;
   position: relative;
   left: -75px;
   transform: scale(0)
}

.jl-portfolio-list  .jl-portfolio-item-thumb img{
    transform: scale(1);
}