@charset "UTF-8";

body{
    margin: 0;
    background-color: lightgray;
}

header{
    width: 100%;
    height: 60px;
    background-color: rgb(158, 69, 241);
    display: block;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.41);
}

main{
    width: 1000px;
    height: auto;
    display: table;
    background-color: white;
    border-radius: 8px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.41);
}

.container{
    width: 300px;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: table;
    float: left;
}

.box{
    width: 100%;
    height: 200px;
    display: block;
    border-radius: 10px;
    background-color: rgb(57, 168, 53);
    border: 4px solid rgb(158, 69, 241);   
    box-sizing: border-box;
}

.btn{
    width: 300px;
    height: 45px;
    background-color: rgb(158, 69, 241);
    border-radius: 4px;
    display:block;
    margin-top: 25px;
    float:left;
}
