@charset "UTF-8";

body{
    background-color: lightgray;
    margin: 0;
}

main{
    width: 70%;
    display: table;
    margin: 100px auto 0 auto;
}

.card-container{
    width: 400px;
    display: table;
}

.card {
    width: 100%;
    display: table;
    background-color: white;
    border-radius: 8px;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.05);
    padding-left:15px;
    padding-right: 15px;
}

.card .card-image{
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 15px auto 15px auto;
    box-sizing: border-box;
}

.card .card-body{
    width: 100%;
    display: table;
}

.card .card-body h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    line-height: 24px;
    color: rgb(47, 157, 198);
    margin: 0;
}

.card .card-footer{
    display: table;
    width: 100%;
}

/*Para criarmos um css expeficico, usamos essa linha de acessibilidade:*/

.card .card-footer .btn{
    width: 100%;

}

/* Botões */
/*O display block sempre vai tentar ocupar 100% do espaço presente.
O display inline-block vai ocupar somente o espaço do nosso texto*/

.btn{
    width: auto;
    height: 40px;
    display: inline-block;
    background-color: rgb(25, 78, 97);
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    line-height: 40px;
    margin: 0 auto;
    margin-top: -5px;
    padding: 0px 30px;
    border-radius: 4px;
    box-sizing: border-box;

}