/*
muitas vezes, o navegador nao aceita animacoes em css (pois o mesmo é muito antigo, logo, usamos algumas adaptações com o translate:
-webkit-transform= safari
-moz-transform= mozilla
-ms-transform= internet explorer
-tranform = usado ultimamente
*/
@keyframes btn{
    0%{

    }

    50%{

    }

    100%{

    }
}

.btn{
    width: 200px;
    height: 64px;
    display: block;
    border-radius: 6px;
    border: 2px solid blue;
    margin: 100px auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height:64px;
    text-decoration: none;
    color: rgb(210, 95, 114);
}